*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html,body{
  height: 100%;
}

/*auxiliares*/

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}

.clear{clear: both;}

/*principal*/

section.bg-inicio{
  height: 80vh;
  background-image: url(../images/capa.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
  position: relative;
}

header{
  padding-top: 4%;
}

header a{
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
  font-weight: normal;
}

.bg-inicio .logo{
  float: left;
}

.bg-inicio nav{
  float: right;
}

.bg-inicio nav.desktop-menu .selected{
  color: #fff;
}

.bg-inicio nav.desktop-menu ul li{
  display: inline-block;
  padding: 0 10px;
}

.bg-inicio nav.desktop-menu ul li:hover{
  text-decoration: underline;
}

.bg-inicio nav.mobile-menu{
  display: none;
}

.bg-inicio .text-bg{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  color: #fff;
  max-width: 500px;
}

.text-bg h2{
  font-weight: normal;
  font-size: 40px;
}

.text-bg p{
  margin-top: 10px;
  font-size: 18px;
  max-width: 400px;
}

section.sessao1{
  width: 100%;
  height: 350px;
  background-color: #472562;
  color: #fff; 
}

.sessao1 .lista-chamada{
  float: left;
  width: 50%;
  margin-top: 4%;
  position: relative;
  left: 10%;
}

.lista-chamada h2{
  font-size: 30px;
  font-weight: lighter;
}

.lista-chamada h3{
  /*margin-top: 10px;*/
  font-weight: lighter;
}

.lista-chamada ul{
  list-style-position: inside;
}

.lista-chamada ul li{
  padding-top: 8px;
}

.lista-chamada input[type=button]{
  margin-top: 15px;
  background-color: orangered;
  color: #fff;
  width: 150px;
  height: 50px;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
}

.sessao1 .image-mobile{
  float: left;
  width: 50%;
  max-width: 450px;
  position: relative;
  top: -50px;
  right: 40px;
  height: 400px;
  background-image: url(../images/device.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section.sessao2 h2{
  text-align: center;
  color: #472663;
  font-weight: normal;
  font-size: 32px;
}

section.sessao2 p{
  text-align: center;
  padding-top: 25px;
  max-width: 900px;
  margin: auto;
}

/*criar aside pro menu-mobile*/

@media screen and (max-width: 425px){
  header a{
    color: #000;
  }

  .bg-inicio .logo{
    float: none;
    display: block;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  /*
  .bg-inicio header a{
    color: #ccc !important;
  }*/

  .bg-inicio nav.desktop-menu{
    display: none;
  }

  .bg-inicio nav.mobile-menu{
    display: block;
  }

  .bg-inicio nav.mobile-menu ul{
    width: 100%;
    position: absolute;
    top: 42px;
    left: 0;
    /*left: 15px;*/
    list-style-type: none;
    background-color: #fff;
    text-align: center;
  }
  .bg-inicio nav.mobile-menu ul:not(:last-child){
    padding: 5px 0;
  }

  .bg-inicio nav.mobile-menu ul li{
    border-bottom: 3px solid #000;
    cursor: pointer;
    padding: 5px 0;
  }

  .bg-inicio nav.mobile-menu ul li:hover{
    background-color: rgb(230,230,230);
  }

  .bg-inicio nav.mobile-menu i{
    color: white;
    position: absolute;
    left: 20px;
    top: 15px;
    cursor: pointer;
    font-size: 25px;
  }

  /*
  .bg-inicio .text-bg{
    margin-top: 50px !important;
  }
  */
}

@media screen and (max-width: 650px){
  section.sessao1{
    height: auto !important;
  }

  .sessao1 .lista-chamada{
    float: none;
    width: 100%;
    margin-top: 0 !important;
    text-align: center;
    position: static;
    padding: 5% 2%;
  }

  .sessao1 .lista-chamada ul{
    display: inline-block;
    text-align: left;
    padding: 10px 0;
  }

  .lista-chamada input[type=button]{
    display: block;
    width: 50%;
    height: 50px;
    margin: auto;
  }

  .sessao1 .image-mobile{
    display: none;
  }
}

@media screen and (max-width: 768px){
  .bg-inicio .text-bg{
    width: 80%;
    position: absolute;
    transform: translate(-50%,-50%);
    margin: 0 auto;
  }

  .text-bg h2{
    margin-top: 30px;
    font-size: 40px;
  }
  
  .text-bg p{
    margin-top: 10px;
    max-width: none;
  }

  section.sessao1{
    height: 320px;
  }

  .sessao1 .lista-chamada{
    margin-top: 1%;
  }

  .lista-chamada ul li{
    padding-top: 5px;
  }

  .lista-chamada input[type=button]{
    margin-top: 10px;
  }

  .sessao1 .image-mobile{
    width: 50%;
    height: 350px;
    top: -30px;
  }
}

@media screen and (max-height: 470px){
  .text-bg h2{
    font-size: 30px;
  }
} 